{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luvish's Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <nav class="main-nav">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/contacts.html">Contact</a></li>
        </ul>
    </nav>
    

    <main class="content">

        <section class="hero-center" id="hero-animation">
            <div class="laptop" id="laptop">
                <div class="laptop-base"></div>
                <div class="laptop-hinge"></div>
                <div class="laptop-screen" id="laptopScreen">
                    <div class="screen-content">Luvish</div>
                </div>
            </div>
        </section>
        
        <section class="text-section" id="section1">
            <h2 class="section-title"> 
                print("Hi I'm Luvish")_
            </h2>

            <h3 class="subsection-title">
                Computer Science Student & Aspiring Developer.
            </h3>
            <p class="regular-text">I'm a passionate computer science student dedicated to building innovative solutions</p>
            <p class="middletex">and continuously expanding my knowledge in software development.</p>
            <p class="bottom-text">This portfolio showcases my journey, projects, and the skills I've developed throughout my degree.</p>
        </section>
    </main>

    <footer class="site-footer" id="main-footer">
        <div class="footer-container">
            <div class="footer-section">
                <p class="footer-above">
                    Built and Designed by Luvish Lokye
                </p>
                <p class="footer-below">
                    All right reserved.©
                </p>

            </div>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>
